@import '../mixins.scss';



.even{
    margin-top: 10px;
    height: 450px;
    width: 100%;
    margin-inline: auto;
    @include sm{
        height: 550px;
        // flex-direction: column-reverse;
        // width: 95%;
    }
}
.efake{
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
    @include sm{
        // height: 550px;
        flex-direction: column-reverse;
        width: 95%;
    }
}

.evenright{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @include md{
        align-items: center;
    }
    @include sm{
        height: 35%;
        width: 100%;
        justify-content: center;
    }
}
.evenleft{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
    @include sm{
        height: 65%;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
    }
}
.erimg{
    height: 80%;
    width: 80%;
    @include md {
        height: 55%;
        width: 100%;
    }
    @include sm {
        height: 100%;
        width: 65%;
    }
}

