:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: var(--lightgray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --lightblue: #47C2C9;
  --darkblue: #298287;
  --darkgray:#525252;
  --lightgray:#757575;
  --swhite:#E8E8E8;
  --lightbg: #f4f4f7;

  --gradient: linear-gradient(180deg,#FFFFFF, #47C2C9);
  --gradient2: linear-gradient(98.37deg, #d83ce6 0.99%, #da2f68 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



::-webkit-scrollbar {
  display: none;
}


